.footer {
  display: flex;
  justify-content: center;
    background-color: #1f2937; 
    color: #ffffff;
    text-align: center;
    padding: 16px 0;
    font-size: 0.9rem;
    margin-top: auto;
    border-top: 1px solid #2d3748;
    
    width: 100%;
    
    margin-bottom: 0px;
  }
  